In [2]:
import pandas as pd
import numpy as np

In [3]:
# Read all three datasets
ratings = pd.read_csv('ratings.csv', sep=';', encoding='latin1')
users = pd.read_csv('users.csv', sep=';', encoding='latin1', error_bad_lines=False, warn_bad_lines=False)
# Drop zero ratings as they represent nothing really
ratings.drop(ratings[ratings['Book-Rating'] < 1].index, inplace=True)

/Users/Giacomo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
books= pd.read_csv('books.csv',delimiter=';',encoding='latin1',error_bad_lines=False, warn_bad_lines=False,low_memory=False) #load books file, dropping bad rows;

# books:  2170880

AttributeError: 'DataFrame' object has no attribute 'names'

In [29]:
books.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ISBN</th>
      <th>Book-Title</th>
      <th>Book-Author</th>
      <th>Year-Of-Publication</th>
      <th>Publisher</th>
      <th>Image-URL-S</th>
      <th>Image-URL-M</th>
      <th>Image-URL-L</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0195153448</td>
      <td>Classical Mythology</td>
      <td>Mark P. O. Morford</td>
      <td>2002</td>
      <td>Oxford University Press</td>
      <td>http://images.amazon.com/images/P/0195153448.0...</td>
      <td>http://images.amazon.com/images/P/0195153448.0...</td>
      <td>http://images.amazon.com/images/P/0195153448.0...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0002005018</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
      <td>http://images.amazon.com/images/P/0002005018.0...</td>
      <td>http://images.amazon.com/images/P/0002005018.0...</td>
      <td>http://images.amazon.com/images/P/0002005018.0...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0060973129</td>
      <td>Decision in Normandy</td>
      <td>Carlo D'Este</td>
      <td>1991</td>
      <td>HarperPerennial</td>
      <td>http://images.amazon.com/images/P/0060973129.0...</td>
      <td>http://images.amazon.com/images/P/0060973129.0...</td>
      <td>http://images.amazon.com/images/P/0060973129.0...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0374157065</td>
      <td>Flu: The Story of the Great Influenza Pandemic...</td>
      <td>Gina Bari Kolata</td>
      <td>1999</td>
      <td>Farrar Straus Giroux</td>
      <td>http://images.amazon.com/images/P/0374157065.0...</td>
      <td>http://images.amazon.com/images/P/0374157065.0...</td>
      <td>http://images.amazon.com/images/P/0374157065.0...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0393045218</td>
      <td>The Mummies of Urumchi</td>
      <td>E. J. W. Barber</td>
      <td>1999</td>
      <td>W. W. Norton &amp;amp; Company</td>
      <td>http://images.amazon.com/images/P/0393045218.0...</td>
      <td>http://images.amazon.com/images/P/0393045218.0...</td>
      <td>http://images.amazon.com/images/P/0393045218.0...</td>
    </tr>
  </tbody>
</table>
</div>

In [34]:
column_to_delete=list(books.columns.values)[5:8]

books= books.drop(labels=column_to_delete, axis=1) # axis 1 drops columns, 0 will drop rows that match index value in labels

In [35]:
books.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ISBN</th>
      <th>Book-Title</th>
      <th>Book-Author</th>
      <th>Year-Of-Publication</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0195153448</td>
      <td>Classical Mythology</td>
      <td>Mark P. O. Morford</td>
      <td>2002</td>
      <td>Oxford University Press</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0002005018</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0060973129</td>
      <td>Decision in Normandy</td>
      <td>Carlo D'Este</td>
      <td>1991</td>
      <td>HarperPerennial</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0374157065</td>
      <td>Flu: The Story of the Great Influenza Pandemic...</td>
      <td>Gina Bari Kolata</td>
      <td>1999</td>
      <td>Farrar Straus Giroux</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0393045218</td>
      <td>The Mummies of Urumchi</td>
      <td>E. J. W. Barber</td>
      <td>1999</td>
      <td>W. W. Norton &amp;amp; Company</td>
    </tr>
  </tbody>
</table>
</div>

In [38]:
merged_panda = pd.merge(pd.merge(users, ratings, on='User-ID', how='inner'), books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']], on='ISBN', how='inner') #merge all datasets;

In [39]:
merged_panda.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>User-ID</th>
      <th>Location</th>
      <th>Age</th>
      <th>ISBN</th>
      <th>Book-Rating</th>
      <th>Book-Title</th>
      <th>Book-Author</th>
      <th>Year-Of-Publication</th>
      <th>Publisher</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8</td>
      <td>timmins, ontario, canada</td>
      <td>NaN</td>
      <td>0002005018</td>
      <td>5</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
    <tr>
      <th>1</th>
      <td>11676</td>
      <td>n/a, n/a, n/a</td>
      <td>NaN</td>
      <td>0002005018</td>
      <td>8</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
    <tr>
      <th>2</th>
      <td>67544</td>
      <td>toronto, ontario, canada</td>
      <td>30.0</td>
      <td>0002005018</td>
      <td>8</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
    <tr>
      <th>3</th>
      <td>116866</td>
      <td>ottawa, ,</td>
      <td>NaN</td>
      <td>0002005018</td>
      <td>9</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
    <tr>
      <th>4</th>
      <td>123629</td>
      <td>kingston, ontario, canada</td>
      <td>NaN</td>
      <td>0002005018</td>
      <td>9</td>
      <td>Clara Callan</td>
      <td>Richard Bruce Wright</td>
      <td>2001</td>
      <td>HarperFlamingo Canada</td>
    </tr>
  </tbody>
</table>
</div>

In [60]:
sample_isbn = pd.DataFrame(merged_panda[merged_panda['Book-Rating'] > 0].groupby(['ISBN']).size().sort_values(ascending=False).head(20000).index,columns=['ISBN']) #create sample file with the top 10k non-zero rated books;
###
#

In [63]:
sample_isbn.count()

ISBN    20000
dtype: int64

In [64]:
merged_sample = pd.merge(sample_isbn, merged_panda, on='ISBN', how='inner') #get sample from entire dataset;

In [65]:
merged_sample.count()

ISBN                   215779
User-ID                215779
Location               215779
Age                    148571
Book-Rating            215779
Book-Title             215779
Book-Author            215779
Year-Of-Publication    215779
Publisher              215779
dtype: int64

In [66]:
merged_panda.count()

User-ID                383842
Location               383842
Age                    269621
ISBN                   383842
Book-Rating            383842
Book-Title             383842
Book-Author            383842
Year-Of-Publication    383842
Publisher              383840
dtype: int64

In [67]:
print (df.pivot(index='business_id', columns='user_id', values='stars').fillna(0))

NameError: name 'df' is not defined

In [7]:
x=ratings.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>User-ID</th>
      <th>ISBN</th>
      <th>Book-Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>276726</td>
      <td>0155061224</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>276729</td>
      <td>052165615X</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>276729</td>
      <td>0521795028</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>276736</td>
      <td>3257224281</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>276737</td>
      <td>0600570967</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>276744</td>
      <td>038550120X</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9</th>
      <td>276745</td>
      <td>342310538</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <td>276747</td>
      <td>0060517794</td>
      <td>9</td>
    </tr>
    <tr>
      <th>19</th>
      <td>276747</td>
      <td>0671537458</td>
      <td>9</td>
    </tr>
    <tr>
      <th>20</th>
      <td>276747</td>
      <td>0679776818</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
books.head()

In [11]:
piv=x.pivot(index='ISBN',columns='User-ID',values='Book-Rating')

In [12]:
print(piv)

User-ID     276726  276729  276736  276737  276744  276745  276747
ISBN
0060517794     NaN     NaN     NaN     NaN     NaN     NaN     9.0
0155061224     5.0     NaN     NaN     NaN     NaN     NaN     NaN
038550120X     NaN     NaN     NaN     NaN     7.0     NaN     NaN
052165615X     NaN     3.0     NaN     NaN     NaN     NaN     NaN
0521795028     NaN     6.0     NaN     NaN     NaN     NaN     NaN
0600570967     NaN     NaN     NaN     6.0     NaN     NaN     NaN
0671537458     NaN     NaN     NaN     NaN     NaN     NaN     9.0
0679776818     NaN     NaN     NaN     NaN     NaN     NaN     8.0
3257224281     NaN     NaN     8.0     NaN     NaN     NaN     NaN
342310538      NaN     NaN     NaN     NaN     NaN    10.0     NaN

In [ ]:
top_rated_isbn = pd.DataFrame(books[book['Book-Rating'] > 0].groupby(['ISBN']).size().sort_values(ascending=False).head(20000).index, columns=['ISBN']) #create sample file with the top 10k non-zero rated books;